[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
numReplicas = 1
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
healthcheckPath = "/_stcore/health"
healthcheckTimeout = 300
